<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-10.0"/>
    <arg name="y_pos" default="-10.0"/>
    <arg name="t_pos" default="0.0"/>
    <arg name="open_rviz" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <!-- Running topic tools is required because the gazebo imu plugin publishes on /imu and the laser scan only listens to /imu/data! -->
    <!-- <node pkg="topic_tools" type="relay" name="imu_topic_tools" args="/imu /imu/data" /> -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="map_server" type="map_server" name="map_server" args="$(find uwarl_test_suite)/courses/maps/clvn_lounge.yaml"/>
    <node pkg="asm" type="asm_node" name="asm_node">
        <param name="starting_x_pos" type="double" value="(arg x_pos)"/>
        <param name="starting_y_pos" type="double" value="$(arg y_pos)"/>
        <param name="starting_rad_or" type="double" value="$(arg y_pos)"/>
    </node>
    <group if="$(arg open_rviz)"> 
        <!-- node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find plke)/rviz/turtle_test_1.rviz"/ -->
    </group>

</launch>